/*
 * Copyright (c) 2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* 

 /delete-node/ &storage_partition;

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		storage_partition: partition@0 {
			label = "storage";
			reg = <0x00000000 0x00020000>;
		};
	};
};

/ {
	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&storage_partition>;
		disk-name = "NAND";
		cache-size = <4096>;
	};
};
*/
 / {
aliases {
	spi-flash0 = &mt29;
};
 };


 
&spi2 {
	status = "okay";
	pinctrl-0 = < &spi_flash_default>;
	pinctrl-1 = <&spi_flash_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
	mt29: mt29f8g01ad@0 {
		compatible = "senselab,nanddisk";
		//size = <4194304000>;
		size = <13107200>;
		reg = <0>;
		spi-max-frequency = <8000000>;
		jedec-id = [ff 2c 47];
		status = "okay";
	};

};


/* 
&spi2 {
	status = "okay";
	pinctrl-0 = < &spi_flash_default>;
	pinctrl-1 = <&spi_flash_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
	mt292: mt29f8g01ad@0 {
		compatible = "senselab,nanddisk";
		size = <4194304000>;
		reg = <0>;
		spi-max-frequency = <8000000>;
		jedec-id = [ff 2c 47];
		status = "okay";
	};

};

*/
/* 
&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";
	mx25r64: mx25r6435f@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		
		writeoc = "pp4io";
	
		readoc = "read4io";
		sck-frequency = <8000000>;
		jedec-id = [c2 28 17];
		sfdp-bfp = [
			e5 20 f1 ff  ff ff ff 03  44 eb 08 6b  08 3b 04 bb
			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
			10 d8 00 ff  23 72 f5 00  82 ed 04 cc  44 83 68 44
			30 b0 30 b0  f7 c4 d5 5c  00 be 29 ff  f0 d0 ff ff
		];
		size = <67108864>;
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};

*/



&pinctrl {
	
 spi_flash_default: spi_flash_default {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,
			<NRF_PSEL(SPIM_MOSI, 0, 13)>,
			<NRF_PSEL(SPIM_MISO, 0, 14)>;
			
	};
};

spi_flash_sleep: spi_flash_sleep {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,
		<NRF_PSEL(SPIM_MOSI, 0, 13)>,
		<NRF_PSEL(SPIM_MISO, 0, 14)>;
		low-power-enable;
	};
};
	

spi1_default: spi1_default {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 23)>,
			<NRF_PSEL(SPIM_MISO, 0, 25)>,
			<NRF_PSEL(SPIM_MOSI, 0, 24)>,
			<NRF_PSEL(SPIS_CSN, 0, 26)>; 
	};
};

spi1_sleep: spi1_sleep {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 23)>,
			<NRF_PSEL(SPIM_MISO, 0, 25)>,
			<NRF_PSEL(SPIM_MOSI, 0, 24)>,
			<NRF_PSEL(SPIS_CSN, 0, 26)>;
		low-power-enable;
	};
};




};



/* 
&spi0 {
	status = "okay";
	compatible = "microchip,xec-qmspi-ldma";
	clock-frequency = <24000000>;
	lines = <4>;
	chip-select = <0>;

	pinctrl-0 = < &shd_cs0_n_gpio055
		      &shd_clk_gpio056
		      &shd_io0_gpio223
		      &shd_io1_gpio224
		      &shd_io2_gpio227
		      &shd_io3_gpio016 >;
	pinctrl-names = "default";

	spi1_cs0_flash: w25q128@0 {
		compatible = "jedec,spi-nor";
		size = <0x8000000>;
		reg = <0>;
		spi-max-frequency = <24000000>;
		jedec-id = [ef 40 18];
		status = "okay";
	};
};

 */